[alias]
	wdiff = diff --word-diff=color --unified=1
[core]
	safecrlf = true
	autocrlf = false
[diff "pandoc"]
	textconv = pandoc --to=markdown
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	sslverify = false
[init]
	defaultBranch = master
[safe]
	directory = *
[user]
	name = llxlr
	email = i@xhlr.top
